<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Email_to_YouTrack.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Email_to_YouTrack.Properties.Settings>
            <setting name="baseUrl" serializeAs="String">
                <value>https://########.myjetbrains.com/youtrack/</value>
            </setting>
            <setting name="perm" serializeAs="String">
                <value>perm:####</value>
            </setting>
            <setting name="project" serializeAs="String">
                <value>####</value>
            </setting>
            <setting name="upgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </Email_to_YouTrack.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>